<div class="loginContainer"></div>

<div class="loginModal">

    <h1 class='title'>NostalgArt Login</h1>

    <%= form_for User.new, url:sessions_path do |f| %>

    <div class='signInField first'>
      <!-- <label>Email: </label> -->
      <%= image_tag("user1.png", :alt => "User Image", :style => "height:28px; position: absolute; margin-left: 3px; margin-top: 2px;") %>
      <%= f.text_field :email, :class => 'loginInput', :placeholder => 'email'%>
    </div>

    <div class='signInField'>
      <!-- <label>Password: </label> -->
      <%= image_tag("lock1.png", :alt => "User Image", :style => "height:28px; position: absolute; margin-left: 3px; margin-top: 3px;") %>
      <%= f.password_field :password, :class => 'loginInput', :placeholder => 'password' %>
    </div>

    <div class='signInField'><%= f.submit "Login", :class => "loginButton" %></div>

    <% end %>

</div>

<div class="moduleContainer" style="position:relative; top: 100px;">

  <div class="us module">
    <h3>About NostalgArt</h3>
    <ul>
      <li>
        NostalgArt helps users create a visual blog by pinning their favorite poster art to their e-walls.
      </li>
    </ul>
  </div>

  <div class="link module">
    <h3>Quick Links</h3>
    <ul>
      <li>&#9830; ExpressoBeans</li>
      <li>&#9830; OMGPosters</li>
    </ul>
  </div>

  <div class="started module">
    <h3>Getting Started</h3>
    <ul>
      <li>&#9830; How to Make a Wall</li>
      <li>&#9830; Where to Browse </li>
      <li>&#9830; Suggested </li>
    </ul>

  </div>
</div>

<div class="footer">
  NostalgArt® 2015
</div>
