<div class="fullWidthContainer">


<%= form_for @user do |f| %>

      <div class=''>
        <p class=''>First Name: </p>
        <%= f.text_field :first_name, :required => true, :class => 'messageField'%>
      </div>

      <div class=''>
        <p class=''>Last Name: </p>
        <%= f.text_field :last_name, :required => true, :class => 'messageField'%>
      </div>

      <div class=''>
        <p class=''>Email: </p>
        <%= f.text_field :email, :required => true, :class => 'messageField'%>
      </div>

      <div class=''>
        <%= f.submit "Update", :class => "signButton new" %>
      </div>

<% end %>

</div>
