<div class="fullWidthContainer">

<h1 class="updateHeader">Update Information</h1>

<%= form_for @user do |f| %>

      <div class='signInField first'>
        <label>First Name: </label>
        <%= f.text_field :first_name, :required => true, :class => 'updateInput'%>
      </div>

      <div class='signInField'>
        <label>Last Name: </label>
        <%= f.text_field :last_name, :required => true, :class => 'updateInput'%>
      </div>

      <div class='signInField'>
        <label>Email: </label>
        <%= f.text_field :email, :required => true, :class => 'updateInput'%>
      </div>

      <div class='signInField'>
        <label>New Password: </label>
        <%= f.text_field :password, :required => true, :class => 'updateInput'%>
      </div>

      <div class='signInField'>
        <label>Confirm Password: </label>
        <input class='updateInput'>
      </div>

      <div class=''>
        <%= f.submit "Update", :class => "signButton new" %>
      </div>

<% end %>

</div>
