<div class="signUpContainer"></div>

<div class="loginModal">
  <h1 class='title'>NostalgArt Sign Up</h1>

  <%= form_for @user do |f| %>

      <div class='signInField first'>
        <!-- <label class=''>First Name: </label> -->
        <%= f.text_field :first_name, :required => true, :class => 'loginInput', :placeholder => 'first Name' %>
      </div>

      <div class='signInField'>
        <!-- <label class=''>Last Name: </label> -->
        <%= f.text_field :last_name, :required => true, :class => 'loginInput', :placeholder => 'last Name'%>
      </div>

      <div class='signInField'>
        <!-- <label>Email: </label> -->
        <%= f.text_field :email, :required => true, :class => 'loginInput', :placeholder => 'email'%>
      </div>

      <div class='signInField'>
        <!-- <label>Password: </label> -->
        <%= f.password_field :password, :required => true, :class => 'loginInput', :placeholder => 'password'%>
      </div>

      <div class='signInField'>
        <%= f.submit "Sign Up", :class => "signButton" %>
      </div>

  <% end %>

</div>
