<div class="fullWidthContainer">

  <ul class="posterColumn left">
    <% for i in 0..@user.posts.length - 1 %>
      <% if i % 3 == 0 %>
        <div class="posterModule">
          <img style="width: 100%;" src="<%= @user.posts[i].image.url(:large)%>" alt="poster image" />
          <p class="details">
            Artist: &nbsp; <%= @user.posts[i].artist %> <br>
            Year: &nbsp; <%= @user.posts[i].year %> <br>
            Comments: &nbsp;<span> <%= @user.posts[i].comments %>  </span>
          </p>
        </div>
      <% end %>
    <% end %>
  </ul>

  <ul class="posterColumn center">
    <% for i in 0..@user.posts.length - 1 %>
      <% if i % 3 == 1 %>
        <div class="posterModule">
          <img style="width: 100%;" src="<%= @user.posts[i].image.url(:large)%>" alt="poster image" />
          <p class="details">
            Artist: &nbsp; <%= @user.posts[i].artist %> <br>
            Year: &nbsp; <%= @user.posts[i].year %> <br>
            Comments: &nbsp;<span> <%= @user.posts[i].comments %>  </span>
          </p>
        </div>
      <% end %>
    <% end %>
  </ul>

  <ul class="posterColumn right">
    <% for i in 0..@user.posts.length - 1 %>
      <% if i % 3 == 2 %>
        <div class="posterModule">
          <img style="width: 100%;" src="<%= @user.posts[i].image.url(:large)%>" alt="poster image" />
          <p class="details">
            Artist: &nbsp; <%= @user.posts[i].artist %> <br>
            Year: &nbsp; <%= @user.posts[i].year %> <br>
            Comments: &nbsp;<span> <%= @user.posts[i].comments %>  </span>
          </p>
        </div>
      <% end %>
    <% end %>
  </ul>


  <!-- <% @user.posts.all.each do |p| %>

    <div class="posterModule">
      <img style="width: 100%;" src="<%= p.image.url(:large)%>" alt="poster image" />
      <p class="details">
        Artist: &nbsp; <%= p.artist %> <br>
        Year: &nbsp; <%= p.year %> <br>
        Comments: &nbsp;<span> <%= p.comments %>  </span>
      </p>
    </div>

  <% end %> -->

  <div class="addNewPoster">
    Add Poster
  </div>

  <div class="newPoster">
    <%= form_for @post, html: { multipart: true} do |f| %>

      <div class='newPosterLine'>
        <label class=''>Artist:</label>
        <%= f.text_field :artist, :required => true, :class => 'newPosterInput'%>
      </div>

      <div class='newPosterLine'>
        <label class=''>Year:</label>
        <%= f.text_field :year, :required => true, :class => 'newPosterInput'%>
      </div>

      <div class='newPosterLine'>
        <label class=''>Image:</label>
        <%= f.file_field :image, :style => 'margin:10px 0 0 0%; font-size: 13px; position:relative; top: -5px; left: 15px;' %>

      </div>

      <div class='newPosterLine'>
        <label class=''>Comments:</label>
        <%= f.text_area :comments, :required => true, :class => 'newPosterInput newField'%>
      </div>

      <div class='newPosterLine' style="text-align: center;">
        <%= f.submit "Post To Wall", :class => "button" %>
      </div>

    <% end %>

  </div>

</div>
<div class="footer">
  NostalgArt® 2015
</div>
  <!-- <% if @user.posts.empty? %> -->
      <!-- <p style="margin: 10px auto;">You have no listings at this time</p> -->
  <!-- <% end %> -->
