<div class="fullWidthContainer">
  <!-- SEARCH BOX: -->
  <div style="margin-top: 45px;">
    <%= form_tag("/posts/search", method: "get") do %>
      <%= text_field_tag :query,nil, :placeholder => "Name | Artist | Keyword", :style => "height:33px; width: 30%; min-width: 250px; text-align:center; font-size: 17px; margin: 0; padding-right: 28px; border-radius: 5px; border: 1px solid grey;" %>

      <%= image_submit_tag("Search.png", :name => 'filter', :style => "height:34px; vertical-align: top; border: 1px solid grey; margin: 0; position:relative; left: -40px; border-top-right-radius:5px; border-bottom-right-radius:5px; ") %>
    <% end %>
  </div>

  <!-- SHUFFLE AND SHOW RANDOM POSTERS ON INDEX: -->
  <div class="shuffledPosterContainer">
    <h1 class="updateHeader">Around The Web:</h1>

    <% for i in 0..@posts.length - 1 %>
        <div class="indexPosterModule" style="background-image: url('<%= @posts[i].image.url(:large)%>')">
          <p class="indexPostDetails">
            Artist: &nbsp; <%= @posts[i].artist %> <br>
            Year: &nbsp; <%= @posts[i].year %> <br>
            <a href="/users/<%= @posts[i].user.id %>"> >> More from this wall</a>
          </p>
        </div>
    <% end %>

  </div>

</div>

<!-- FOOTER -->
<div class="moduleContainer">

  <div class="us module">
    <h3>About NostalgArt</h3>
    <ul>
      <li>
        NostalgArt helps users create a visual blog by pinning their favorite poster art to their e-walls.
      </li>
    </ul>
  </div>

  <div class="link module">
    <h3>Quick Links</h3>
    <ul>
      <li>&#9830; ExpressoBeans</li>
      <li>&#9830; OMGPosters</li>
    </ul>
  </div>

  <div class="started module">
    <h3>Getting Started</h3>
    <ul>
      <li>&#9830; How to Make a Wall</li>
      <li>&#9830; Where to Browse </li>
      <li>&#9830; Suggested </li>
    </ul>

  </div>

<a href="#"><div class="backToTheTop">Back To The Top &#8679;</div></a>
</div>

<div class="footer">
  NostalgArt® 2015
</div>
