
<div style="margin-top: 30px;">

  <%= form_tag("/posts/search", method: "get") do %>
    <%= text_field_tag :query,nil, :placeholder => "Name | Artist | Keyword", :style => "height:27px; width: 30%; min-width: 250px; text-align:center; font-size: 17px; margin: 0; padding-right: 28px; border-radius: 5px; border: 1px solid grey;" %>

    <%= image_submit_tag("Search.png", :name => 'filter', :style => "height:29px; vertical-align: top; border: 1px solid grey; margin: 0; position:relative; left: -34px; border-top-right-radius:5px; border-bottom-right-radius:5px; ") %>
  <% end %>

</div>

<h3 class="searchTitle"> Search Results for "<%= @query %>":</h3>

<ul class="posterColumn left">
  <% for i in 0..@match.length - 1 %>
    <% if i % 3 == 0 %>
      <div class="posterModule">
        <img style="width: 100%;" src="<%= @posts.find(@match[i]).image.url(:large)%>" alt="poster image" />
        <p class="details">
          Artist: &nbsp; <%= @posts.find(@match[i]).artist %> <br>
          Year: &nbsp; <%= @posts.find(@match[i]).year %> <br>
          Comments: &nbsp;<span> <%= @posts.find(@match[i]).comments %>  </span>
        </p>
      </div>
    <% end %>
  <% end %>
</ul>

<ul class="posterColumn center">
  <% for i in 0..@match.length - 1 %>
    <% if i % 3 == 1 %>
      <div class="posterModule">
        <img style="width: 100%;" src="<%= @posts.find(@match[i]).image.url(:large)%>" alt="poster image" />
        <p class="details">
          Artist: &nbsp; <%= @posts.find(@match[i]).artist %> <br>
          Year: &nbsp; <%= @posts.find(@match[i]).year %> <br>
          Comments: &nbsp;<span> <%= @posts.find(@match[i]).comments %>  </span>
        </p>
      </div>
    <% end %>
  <% end %>
</ul>

<ul class="posterColumn right">
  <% for i in 0..@match.length - 1 %>
    <% if i % 3 == 2 %>
      <div class="posterModule">
        <img style="width: 100%;" src="<%= @posts.find(@match[i]).image.url(:large)%>" alt="poster image" />
        <p class="details">
          Artist: &nbsp; <%= @posts.find(@match[i]).artist %> <br>
          Year: &nbsp; <%= @posts.find(@match[i]).year %> <br>
          Comments: &nbsp;<span> <%= @posts.find(@match[i]).comments %>  </span>
        </p>
      </div>
    <% end %>
  <% end %>
</ul>
